<div class="home-banner">
  <%= render 'shared/navbar' %>
  <div class="container mt-5 pt-5">
    <h1 class="mb-0 text-white">Escape to nature,</h1>
    <h1 class="mt-0 text-white">feel rested.</h1>
    <h5 class="mb-0 text-white">Unplug from work, wifi, and routines to</h5>
    <h5 class="mt-0 text-white">reconnect with nature at our beautifully designed cabins.</h5>
  </div>
</div>
<div class="d-flex" style="height: 50vh;">
  <div class="row justify-content-center align-self-center mx-3">
    <div class="col-xs-12 col-lg-8">
      <h2 class="text-center">Disconnect to reconnect</h2>
      <p class="text-center">We are on a mission to give people time, space, and permission to unplug.</p>
      <p class="text-center">Our beautifully designed cabins, nestled in nature, aim to provide you with
        a break from the city, technology, and work, so that you can recharge and get back well rested.</p>
    </div>
  </div>
</div>
<div class="home-banner2"></div>

